<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode='over' class="siders">
    <div fxLayout="column" fxLayoutAlign="space-between" class="drawerContainer">

      <div fxLayout='row' fxLayoutAlign='none center' fxLayoutGap='10px' class="profileIcon">

        <img src="assets/logo.png" alt="">
        <div class="contentHolder">
          <h4 style="line-height: 1; margin:0px ; color:white;font-size: 18px;text-transform: capitalize;">Hello {{userInfo?.name}} !!</h4>
          <p  style='margin: 0; color: white;opacity:0.52;'>{{userInfo?.email}}</p>
        </div>
      </div>



      <ul class="blockUl">

        <li  class="blockLi" fxLayout='coloumn' fxLayoutAlign='start center' fxLayoutGap='10' (click)="routersCall('')"
        [ngClass]="{'active':  acitiveCheck()  === '/'}">
          <mat-icon aria-hidden="false">shopping_cart</mat-icon>
          <p class='textMenu'>{{'Dash.Sales' | translate}} </p>
        </li>

        <li  class="blockLi" fxLayout='coloumn' fxLayoutAlign='start center' fxLayoutGap='10' (click)="routersCall('items')"
        [ngClass]="{'active':  acitiveCheck()  === '/items'}">
          <mat-icon aria-hidden="false">list_alt</mat-icon>
          <p class='textMenu'>{{'Dash.Items' | translate}} </p>
        </li>
        <li class="blockLi" fxLayout='coloumn' fxLayoutAlign='start center' fxLayoutGap='10' (click)="routersCall('reports')"
        [ngClass]="{'active':  acitiveCheck()  === '/reports'}">
          <mat-icon aria-hidden="false">content_paste</mat-icon>
          <p class='textMenu'>{{'Dash.Reports' | translate}} </p>
        </li>
        <li class="blockLi" fxLayout='coloumn' fxLayoutAlign='start center' fxLayoutGap='10' (click)="routersCall('customers')"
        [ngClass]="{'active':  acitiveCheck()  === '/customers'}">
          <mat-icon aria-hidden="false">people_alt</mat-icon>
          <p class='textMenu'>{{'Dash.Customer' | translate}} </p>
        </li>
        <li class="blockLi" fxLayout='coloumn' fxLayoutAlign='start center' fxLayoutGap='10' (click)="routersCall('transactions')"
        [ngClass]="{'active':   acitiveCheck()  === '/transactions'}">
          <mat-icon aria-hidden="false">payments</mat-icon>
          <p class='textMenu'>{{'Dash.Transactions' | translate}} </p>
        </li>



        <li class="blockLi" fxLayout='coloumn' fxLayoutAlign='start center' fxLayoutGap='10' (click)="routersCall('settings')"
        [ngClass]="{'active':  acitiveCheck()  === '/settings'}">
          <mat-icon aria-hidden="false">settings</mat-icon>
          <p class='textMenu'>{{'Dash.Settings' | translate}} </p>
        </li>

        <li class="blockLi" fxLayout='coloumn' fxLayoutAlign='start center' fxLayoutGap='10' (click)="logout()">
          <mat-icon aria-hidden="false">lock</mat-icon>
          <p class='textMenu'>{{'Dash.Logout' | translate}} </p>
        </li>

      </ul>





      <p class="vesion">Roza POS Version 0.1 </p>



    </div>


  </mat-drawer>
  <mat-drawer-content style="background-color:#ECEFF1 ;" class="container">

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>