<div>
    <div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
        <h3 class="heading3">Return Item</h3>
        <button (click)='closeDialog()' mat-icon-button>
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>
    <mat-selection-list #shoes [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)">
        <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
           
                
             <div mat-line > {{shoe.name}}</div>  
             <div mat-line >   {{shoe.quantity}}{{shoe.unit}}</div>
             <div mat-line >  {{shoe.price | currency :'SAR'}}</div>
          
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}<br>
                Return Item price :{{totalPrice}}<br>
                
      </p>
      <button  mat-raised-button (click)='submit()' color="accent" class="bigButton">Save</button>

</div>
