
<div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
    <h3 class="heading3">Add Payment</h3>
    <button (click)='closeDialog()' mat-icon-button>
        <mat-icon>highlight_off</mat-icon>
    </button>
</div>
<br>
<form [formGroup]='payForm'>
<mat-form-field appearance="outline">
    <mat-label>Payment Name </mat-label>
    <input formControlName='paymentName' id="codeInput" autofocus matInput type='text'>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Notes </mat-label>
    <input formControlName='notes' matInput type='text'>
</mat-form-field>
<br>
<button  mat-raised-button (click)='submit()' color="accent" class="bigButton">Save</button>

</form>