.example-spacer {
    flex: 1 1 auto;
  }



.container{
  background: #ECEFF1;
  height: 100%;

}



.itemsCard{
margin: 0 auto;
overflow-y: hidden;
   padding-bottom: 0px;
   table{
     width: 100%;
   }
}

.verticalCardContainer{
  height: 90%;
  overflow-y: hidden;

  padding-left: 20px;
  padding-right: 20px;
}


.heading3{
  font: normal normal 900 22px/38px Avenir !important;
  letter-spacing: 0px;
  color: #434342;
  margin: 0;
}