<div class="container">
    <div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
        <h3 class="heading3">{{'editItems' | translate}}</h3>
        <button (click)='closeDialog()' mat-icon-button>
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>
    <br>
    <form [formGroup]='itemForm'>
    <mat-form-field appearance="outline">
        <mat-label> {{'AddSingleItemPopup.ItemId' | translate}}</mat-label>
        <input formControlName='barcode' autofocus matInput type='text' placeholder="{{itembarcode}}" [(ngModel)]="itembarcode">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{'AddSingleItemPopup.Name' | translate}}</mat-label>
        <input formControlName='name' autofocus matInput type='text' placeholder="{{itemname}}" [(ngModel)]="itemname">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{'AddSingleItemPopup.NameInArabic' | translate}}</mat-label>
        <input formControlName='nameInArabic' autofocus matInput type='text' placeholder="{{itemarabic}}" [(ngModel)]="itemarabic">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{'AddSingleItemPopup.Category' | translate}}</mat-label>
        <mat-select formControlName='category' [(ngModel)]="itemcat">
            <mat-option *ngFor="let category of categories" [value]="category.categoryName" >
                {{category.categoryName}} </mat-option>
               
        </mat-select>
    </mat-form-field>



    <mat-form-field   id="rightMargin"   appearance="outline">
        <mat-label>{{'AddSingleItemPopup.RetailPrice' | translate}} </mat-label>
        <input formControlName='supplierPrice' placeholder="{{itemsupplierPrice}}" autofocus matInput type='number' [(ngModel)]="itemsupplierPrice">

    </mat-form-field>


    <mat-form-field id="leftMargin" appearance="outline">
        <mat-label>{{'AddSingleItemPopup.SellingPrice' | translate}}</mat-label>
        <input formControlName='price'placeholder="{{itemprice}}" autofocus matInput type='number' placeholder="{{itemprice}}"[(ngModel)]="itemprice">

    </mat-form-field>

   
    <mat-form-field appearance="outline">
         <mat-label>{{'AddSingleItemPopup.Tax' | translate}}</mat-label>
         <mat-select formControlName='tax' [(ngModel)]="itemtax">
            <mat-option *ngFor="let tax of taxes" [value]="tax.taxPercentage">
                {{tax.taxName}} </mat-option>
               
        </mat-select>
    </mat-form-field>


    <mat-form-field id="rightMargin" appearance="outline">
        <mat-label>{{'AddSingleItemPopup.InvenStock' | translate}}</mat-label>
        <input disabled='true' readonly formControlName='inventory' placeholder="{{iteminven}}" autofocus matInput type='number' [(ngModel)]="iteminven">

    </mat-form-field>


    <mat-form-field id="leftMargin" appearance="outline">
        <mat-label>{{'AddSingleItemPopup.Unit' | translate}}</mat-label>
        <mat-select formControlName='unit' [(ngModel)]="itemunit">
            <mat-option *ngFor='let unit of units' value="{{unit.unit}}">
                {{unit.unitName}} </mat-option>
        </mat-select>
    </mat-form-field>


</form>

<!-- (click)='submit()' -->
    <button  mat-raised-button (click)='submit()' color="accent" class="bigButton">{{'AddSingleItemPopup.Save' | translate}}</button>
</div>