.container{
    height: 100%;
    background-color: #ECEFF1;
}
.logoHolder{
    text-align: center;
}
mat-card{
    min-width: 340px;
}

mat-form-field{
    display: block;
}

mat-label{
    font-size: 12px;
}