<div fxLayout='row' fxLayoutAlign='center center' class="container">

    <mat-card>

        <div class="contentContainer">
<div class="logoHolder">
    <img src="../../../assets/logo.svg" alt="">
</div>

<form [formGroup]='loginForm' >


    <mat-form-field appearance="outline">
        <mat-label>E mail Id</mat-label>
        <input formControlName='email' matInput type='email' >
      </mat-form-field>

      <mat-form-field style="padding-bottom: 5px;" appearance='outline'>
          <mat-label>Password</mat-label>
          <input formControlName='password' type="password" matInput >
      </mat-form-field>

      <button class="bigButton" color='accent' mat-raised-button>Login</button>



</form>
            
        </div>
        <p style="text-align: center;" (click)="routersCall('register')"> Don't have an account? Register</p>
    </mat-card>

</div>
