.container{
    background: #ECEFF1;
    height: 100%;
}
.registerHolder{
    max-width: 340px;
    width: 90%;

}
.registerHeading{
    font: normal normal 900 28px/38px Avenir !important;
letter-spacing: 0px;
color: #434342;
margin: 0;
}
mat-form-field{
    width: 100%;
}