



<div class="container">
  <div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
  <div>

    <h3 style="margin: 0;" class="heading3">Multiple Products Found</h3>
    <p style="margin: 0;">Barcode Number : 11958 20121 </p>
  </div>  
    <button (click)='closeDialog()'  mat-icon-button>
        <mat-icon>highlight_off</mat-icon>
    </button>
</div>

<br>

<div style="margin-top: 5px;"  class="listHolder">
 <div *ngFor='let item of actualData'  fxLayout='row' fxLayoutAlign="space-around center"  class="cardHolder"  (click)='selectedItem(item)'  >
   <div fxFlex='75' class="productNameholder">
<h6  style="font-size: 16px;font-weight: 700; margin-bottom: 6px;">{{item.name}} </h6>
<p style="font-size: 12px;margin-bottom: 4px;">{{item.nameInArabic}}
</p>
   </div>
   <div fxFlex='25' class="priceHolder">
<p style="font-weight: 800; color:#FFB846;font-size: 16px;">{{item.price | currency :'SAR'}}</p>
   </div>
 </div>



</div>






</div>
