<div>

    <div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
        <h3 class="heading3">Add Discount</h3>
        <button (click)='closeDialog()'  mat-icon-button>
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>

    <div>

   
    <mat-form-field appearance="outline" style="width:275px; margin-right: 10px;">
    <mat-label>Discount</mat-label>
<input  autofocus='true'  [(ngModel)]="discount" matInput type='number'>
</mat-form-field>

<mat-button-toggle-group style='top:-5px' #group="matButtonToggleGroup" value='percentage'>
    <mat-button-toggle style="width:50px;" value="sar" autofocus>
        <mat-label>SAR</mat-label>
    </mat-button-toggle>
    <mat-button-toggle  style="width:50px;" value="percentage">
        <mat-label>%</mat-label>
    </mat-button-toggle>
</mat-button-toggle-group>
</div>
</div>
<br>
<button mat-raised-button (click)="getDiscount(group.value)" id="rightMargin" color="accent"
    class="bigButton">Add Discount</button>