<mat-nav-list>
    <mat-list-item (click)="routeToSingle()" >
        <mat-icon matListIcon>add_box
        </mat-icon>

        <h4 matLine> Add Single Item </h4>
    <p matLine>إضافة عنصر واحد</p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item (click)="routeToBulk()">
        <mat-icon matListIcon>add_to_photos</mat-icon>
        <h4 matLine> Add Items In Bulk </h4>
        <p matLine>إضافة عنصر واحد</p> </mat-list-item>
        <mat-divider></mat-divider>

    <mat-list-item (click)="routeToCategory()">

        <mat-icon matListIcon>add_task</mat-icon>
        <h4 matLine> Add Categories </h4>
    <p matLine>إضافة عنصر واحد</p> </mat-list-item>
</mat-nav-list>
