<div class="container">

    <div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
        <h3 class="heading3">Add Customer</h3>
        <button (click)='closeDialog()'  mat-icon-button>
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>
<br>


<mat-form-field appearance="outline">
    <mat-label>Customer Name</mat-label>
<input style="text-transform: uppercase;" autofocus='true' 
(input)='onChangeSearch($event.target.value)'  
 matInput type='text'>
<mat-icon matSuffix>search</mat-icon>

</mat-form-field>


        <!-- <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete> 
     <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
        </ng-template>
        
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>  -->


     <mat-list *ngIf='searchTerm  '  role="list">
          <div  *ngFor='let customer of searchResults ' class="div">
            <mat-list-item  (click)="selectCustomer(customer)" > <div mat-line style='text-transform:capitalize'> {{customer.name}} </div> 
                <div mat-line> {{customer.phNumber}} </div>
                </mat-list-item>
            <mat-divider></mat-divider>


          </div>
      
      </mat-list>

      <p ></p>




<p *ngIf='!searchTerm  '  style="text-align: center;font-size: 16px;opacity: 70%;">Or</p>
<button *ngIf='searchResults.length == 0 || !searchTerm  '   (click)='newCustomerModal()' mat-raised-button color="accent" class="bigButton">Create New Customer</button>

</div>