:host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding-bottom: 10px;
  }

  mat-form-field.mat-form-field{
    width: 100%;
    padding-bottom: 2px;
}

.heading3{
    font: normal normal 900 22px/38px Avenir !important;
    letter-spacing: 0px;
    color: #434342;
    margin: 0;
}
