<button mat-icon-button (click)="onclose()" style="position: absolute; right: 0; vertical-align:top;"><span class="material-icons">
    highlight_off
    </span></button>
<h3 class="heading3" style="width: 80%; margin: 0px 0px 0px;text-transform: capitalize;">{{data.name}}</h3>
<br>
<form [formGroup]="checkOutForm">
    <mat-form-field id="rightMargin" appearance="outline">
        <mat-label>Cost </mat-label>
        <!-- [(ngModel)]="itemname" -->
        <input formControlName='price' [(ngModel)]="tablePrice"  autofocus matInput type='number'>
    </mat-form-field>
    <mat-form-field id="leftMargin" appearance="outline">
        <mat-label>Quantity</mat-label>
        <input formControlName='quantity' [(ngModel)]="tableQty"  autofocus matInput type='number'>

    </mat-form-field>
    <br>

    <!-- <mat-form-field id="rightMargin" appearance="outline">
        <mat-label>Tax</mat-label>
        <input formControlName='tax' [(ngModel)]="data.tax"  autofocus matInput type='number' >

    </mat-form-field> -->

    <div style="text-align:center;">

    
    <button  mat-button  id="leftMargin" style="color: orange;" class="bigButton"><span class="material-icons">
       print
        </span>Print Label</button></div>
        <br>
    <button  mat-raised-button (click)="update()" id="rightMargin" color="accent" class="bigButton">Update</button>
    <button  mat-button (click)="removeItem()" id="leftMargin" style="color: red;" class="bigButton"><span class="material-icons">
        delete
        </span>Remove Item</button>
</form>
