<div class="container">
    <div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
        <h3 class="heading3">Search</h3>
        <button (click)='closeDialog()'  mat-icon-button>
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>

    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Item Name</mat-label>
    <input matInputAutofocus 
    (input)='onChangeSearch($event.target.value)'  
     matInput  cdkFocusInitial autofocus type='text'>
    <mat-icon matSuffix>search</mat-icon>
    
    </mat-form-field>
    


        <div matRipple  *ngFor='let item of searchResults'  class="itemList"> 

        




            <div (click)='selectedItem(item)'  fxLayout='row' fxLayoutAlign="space-around center"  style="width: 100%; cursor: pointer;
            border-bottom: 1.5px solid lightgrey;" class="cardHolder"   >
                <div fxFlex='75' class="productNameholder">
             <h6  style="font-size: 16px;font-weight: 700; margin-bottom: 6px;margin-top: 10px;text-transform: capitalize;">{{item.name}} </h6>
             <p style="font-size: 12px;margin-bottom: 4px;">{{item.nameInArabic}}
             </p>
                </div>
            
                <div fxFlex='25' class="priceHolder">
             <p style="font-weight: 800; color:#FFB846;font-size: 16px;">{{item.price | currency :'SAR'}}</p>
                </div>
              </div>
         
       
            </div>
     
        


     
    
   

</div>
