<div class="container">
    <div fxLayout='row' fxLayoutAlign='space-between center' class="headingContainer">
        <h3 class="heading3">Support</h3>
        <button (click)='closeDialog()' mat-icon-button>
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>

    <div class="contentContainer">
        <div class="infoHolder">
            
            <div fxLayout='row'  fxLayoutGap='18px' class="infoCardHolder">
                <div class="infoIconHolder">
                    <mat-icon color="accent">
                        call
                    </mat-icon>
                </div>
                <div class="informationReq">
                    <p>+966 57 328 7748 <br>
                        +966 54 266 6226 <br>
                        +966 11 438 9002</p>
                </div>
            </div>
            <div  fxLayout='row'  fxLayoutGap='18px' class="infoCardHolder">
                <div class="infoIconHolder">
                    <mat-icon color="accent">
                        email
                    </mat-icon>
                </div>
                <div class="informationReq">
                    <p>info@rozapos.com
                        help@rozapos.com</p>
                </div>
            </div>





            <div fxLayout='row'  fxLayoutGap='18px' class="infoCardHolder">
                <div class="infoIconHolder">
                    <mat-icon color="accent">
                        language
                    </mat-icon>
                </div>
                <div class="informationReq">
                    <p>www.rozapos.com</p>
                </div>
            </div>



            <div  fxLayout='row'  fxLayoutGap='18px'  class="infoCardHolder">
                <div class="infoIconHolder">
                    <mat-icon color="accent">
                        location_on
                    </mat-icon>
                </div>
                <div class="informationReq">
                    <p>P.O Box 280825 Riyadh <br>
                        11392Alhaer Road <br>
                        Riyadh - Saudi Arabia</p>
                </div>
            </div>
        </div>
    </div>




</div>