.example-spacer {
    flex: 1 1 auto;
  }



.container{
  background: #ECEFF1;
  height: 100%;
}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.heading3{
  font: normal normal 900 22px/38px Avenir !important;
  letter-spacing: 0px;
  color: #434342;
  margin: 0;
}