/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Avenir', sans-serif; }
*{
    font-family: 'Avenir';
  
  }
  
  @font-face {
      font-family: 'Avenir';
      font-weight: 400;
      src: url('./assets/AvenirNext-Medium-06.ttf');
    }
    
    @font-face {
      font-family: 'Avenir';
     
      font-weight: 800;
      src: url('./assets/AvenirNext-Bold-01.ttf');
    }
    


.discountInput .mat-form-field-wrapper {
  padding-bottom: 0px !important;

}
    @font-face {
      font-family: 'Avenir';
      font-weight: 700;
      src: url('./assets/AvenirNext-DemiBold-03.ttf');
    }


    h1,h2,h3,h4{
        font-family: 'Avenir' !important;
        font-weight: 400 !important;
      
      }

      .bigButton{

          height: 50px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 700;
          color: white;
      }

      p{
          font-size: 12px;
      }

      .mat-toolbar-row, .mat-toolbar-single-row {
          height: 50px !important;
      }

      .toolbarHeading{
        font-size: 16px;
        font-weight: 400;
margin: 0px !important;
      }


      .flexContainer{
          width: 100%;
          height: 100%;
      }



      @import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue,800);
$my-app-accent:  mat-palette($mat-green, 600);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);}



.dialogCss{
  max-width: 450px;
  width: 90%;
  min-width: 420px;
}


.successPanel{
  background-color: green;
  color: white;

}

.dangerPanel{
  background-color: orangered;
  color: white;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
